.container {
  max-width: 540px;
  margin: 0 auto;
}

label {
  display: block;
  margin: 20px 0 10px 0;
  font-size: 14px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  background-color: #1b29a7;
  color: #FFF;
  text-transform: uppercase;
  border: 0;
  height: 48px;
  margin-top: 20px;
}

button:disabled,
button:disabled:hover {
  opacity: 0.4;
}
button:hover {
  opacity: 0.8;
  cursor: pointer;
}

input[type="text"].input-sm {
  width: 47%;
}

.input-inline .field-inline {
  width: calc(94% / 2);
  vertical-align: top;
  display: inline-block;
  margin-right: 28px;
}
.input-inline .field-inline:nth-child(odd) {
  margin-right: 0;
}

.error-input {
  font-size: 14px;
  color: #590684;
}

.alert {
  padding: 20px;
  background-color: #efefef;
  color: #000;
  border-radius: 4px;
  font-weight: 600;
  margin-top: 20px;
}

.alert.alert--sucess {
  background-color: #baf7b4;
  color: #319627;
}